run = "npm run dev"
entrypoint = "index.js"
hidden = [".config", "package-lock.json", ".next", ".swc"]
modules = ["nodejs-20", "web", "postgresql-16"]

[nix]
channel = "stable-25_05"

[env]
NEXT_TELEMETRY_DISABLED = "1"

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "start"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34499
externalPort = 3003

[[ports]]
localPort = 35143
externalPort = 5000

[[ports]]
localPort = 36401
externalPort = 5173

[[ports]]
localPort = 36721
externalPort = 3000

[[ports]]
localPort = 37645
externalPort = 8000

[[ports]]
localPort = 38345
externalPort = 3001

[[ports]]
localPort = 39111
externalPort = 3002

[[ports]]
localPort = 40569
externalPort = 6800

[[ports]]
localPort = 43499
externalPort = 4200

[[ports]]
localPort = 45539
externalPort = 6000

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Dev Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[userenv]

[userenv.shared]
JWT_SECRET = "bidchemz-jwt-secret-key-2024-secure-token-generation"
